* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100dvh;
    width: 100vw;
}
.backdrop {
  position: relative;
  width: 100vw; 
  height: 100dvh; 
  background-color: #222;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.foreground {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.foreground>h1 {
    font-size:4rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.rect {
  position: absolute;
  width: 150%; 
  height: 50px; 
  
  
  background: repeating-linear-gradient(
    -45deg,
    #ffcc00,
    #ffcc00 25px,
    #111111 25px,
    #111111 50px
  );
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  border-top: 2px solid #e0b400;
  border-bottom: 2px solid #e0b400;
}


.tl-br {
  transform: rotate(45deg);
  z-index: 1;
}


.tr-bl {
  transform: rotate(-45deg);
  z-index: 2;
}